@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

:root {
  --text-gray: #7a7979;
  --text-black: #242424;
  --box-shadow: 8px 11px 13px -6px #a5a5a5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f7;
  display: flex;
  height: 1000px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  position: relative;
  flex-wrap: wrap;
}

button {
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 20px;
  letter-spacing: 1px;
  background-color: rgb(250, 248, 248);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

button:hover {
  transform: scale(1.1)
}

img {
  border-radius: 10px;
  width: 50px;
}

i {
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

i:hover {
  transform: scale(1.1)
}

section {
  position: relative;
  min-width: 380px;
  height: 800px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

/* Nav */
.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}





/*----- Music List Page--------- */

/* Music List Header */

.music-list-box__list-header {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-header__artist-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.list-header__song-artist {
  font-size: 28px;
  font-weight: 600;
  margin-top: 40px;
}

.list-header__song-genre {
  font-size: 14px;
  margin-top: 20px;
}

/* List Buttons */

.music-list-box__button-box {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.button-box__shuffle-btn {
  background-color: #1f1f1f;
  color: whitesmoke;
}

/* Song List */

.music-list-box__song-list {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}

.music-list-box__song-box {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-radius: 20px;
  padding: 10px 20px;
  justify-content: space-between;
}

.song-box__song-info-box {
  display: flex;
  align-items: center;
}

.song-info-box__album-cover-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.song-info-box__album-cover-box i {
  position: absolute;
  color: #fafafa;
  display: none;
}

.play-now-box {
  box-shadow: 0px 0px 20px 2px #c9c9c9;
}

.play-now img {
  filter: brightness(50%);
}

.play-now > i {
  display: flex;
}

.song-info-box__song-description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
  font-weight: 600;
}

.song-description__song-artist {
  color: var(--text-gray);
  margin-bottom: 10px;
  font-size: 12px;
}

.song-description__song-title {
  font-weight: 700;
  font-size: 14px;
}

/* Music List Contorll Box */

.music-list-box__controll-box {
  position: sticky;
  bottom: 0;
  transform: translateY(-25%);
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  border-radius: 40px;
  margin: 0px 10px;
  box-shadow: var(--box-shadow);
}

.controll-box__controll-song-description {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: space-between;
}

.controll-song-description__song-artist {
  font-size: 12px;
  color: var(--text-gray);
  margin-bottom: 10px;
}

.controll-song-description__song-title {
  color: #e2e2e2;
  font-size: 16px;
}

.controll-box__controll-icon i {
  margin-left: 30px;
  color: #fff;
}

/* ----------Music Player Page------------- */


/* Playing Music Now */
.play-box__play-now-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Album Cover */

.play-now-box__lg-album-cover {
  width: 300px;
  box-shadow: 0px 20px 29px -6px #F49C6C;
}

/* Song Description */
.play-now-box__song-title {
  color: var(--text-black);
  font-weight: 700;
  font-size: 32px;
  margin: 60px 0 20px;
}

.play-now-box__song-artist {
  color: var(--text-gray);
}

/* Song Progress bar */

.player-box__song-progress-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 40px 30px;
  border-radius: 20px;
}

/* Time Line */
.song-progress-bar__time-line {
  display: flex;
  justify-content: space-between;
  color: var(--text-gray);
  font-size: 14px;
  
}

/* Progress Bar */
.song-progress-bar__progress-bar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  
}

.progress-bar__played-part {
  width: 250px;
  height: 5px;
  background-color: black;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}
.progress-bar__play-now-part {
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  transform: translateX(240px);
  z-index: 2;
}
.progress-bar__total-play-part {
  width: 100%;
  height: 5px;
  background-color: lightgray;
  position: absolute;
  border-radius: 5px;
}

/* Song Controll Box */
.player-box__song-controll-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 30px;
}

.player-box__song-controll-box span {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
}

.controll-box__repeatBtn i, .controll-box__shuffleBtn i{
  color: var(--text-gray);
}

.controll-box__backBtn i, .controll-box__nextBtn i{
  font-size: 24px;
}

.controll-box__playBtn i{
  font-size: 60px;
}
