.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--nav-color);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__relative {
  position: relative;
}

.nav__notification-number {
  position: absolute;
  transform: translate(15px, -10px);
}

.nav__notification-dot-big {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  transform: translate(25px, -5px);
}

.nav__notification-dot-sm {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-5px, -8px);
}
